div {
    display:inline-block;
    border:1px solid black;
    border-radius:16px;
    width: 150px;
    outline-style: dashed;
    outline-color: blue;
    outline-width: thin;
    outline-offset: 2px;
}